<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/4b9dabae-abdb-416b-b588-e6e7f247808e/resourcegroups/VerseAppResourceGroup/providers/Microsoft.ContainerRegistry/registries/VerseAppNewServer20251110084541</ContainerResourceId>
    <ContainerResourceName>VerseAppNewServer20251110084541</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>verseappnewserver20251110084541.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>verseappnewserver</ContainerName>
    <EnvironmentName>VerseAppNewServer-env-20251110084007</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://verseappnewserver-app-2025111008.agreeablestone-f22c316f.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/4b9dabae-abdb-416b-b588-e6e7f247808e/resourceGroups/VerseAppResourceGroup/providers/Microsoft.App/containerapps/verseappnewserver-app-2025111008</ResourceId>
    <ResourceGroup>VerseAppResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>